<header class="jumbotron jumbotron-fluid mt-n4">
    <h1 class="mx-2">Inventory</h1>
  </header>
<div class="container">
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title">Harry Potter</h2>
      <div class="card-text">
        <p>Author: JK Rowling </p>
      </div>
      <div class="list-group">
      </div>
    </div>

  </div>
</div>
